<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="anymal">

    <xacro:arg name="remove_shank_collisions" default="False"/>
    <xacro:property name="remove_shank_collisions" default="$(arg remove_shank_collisions)"/>

    <xacro:include filename="anymal.urdf.xacro" />
    <xacro:include filename="anymal_gazebo.xacro" />
    <xacro:include filename="materials.xacro" />
    <xacro:include filename="inertial_macros.xacro" />
    
</robot>
