<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <gazebo>
        <plugin filename="libgazebo_ros_p3d.so" name="p3d_base_controller">
        <ros>
            <argument>odom:=odom/ground_truth</argument>
        </ros>
        <body_name>base</body_name>
        <frame_name>map</frame_name>
        <update_rate>10.0</update_rate>
        <xyz_offset>0.0 0.0 -.5</xyz_offset>
        <rpy_offset>0 0 0</rpy_offset>
        </plugin>
    </gazebo>

    <xacro:macro name="lidar_macro" params="max_range samples">
        <gazebo reference="base">
            <sensor name="laser" type="ray">
                <pose> 0 0 .2 0 0 0 </pose>
                <visualize>false</visualize>
                <update_rate>10</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>${samples}</samples>
                            <min_angle>-3.14</min_angle>
                            <max_angle>3.14</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.45</min>
                        <max>${max_range}</max>
                    </range>
                </ray>
                <plugin name="laser_controller_${max_range}_${samples}" filename="libgazebo_ros_ray_sensor.so">
                    <output_type>sensor_msgs/LaserScan</output_type>
                    <frame_name>lidar_frame</frame_name>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>

    <xacro:lidar_macro max_range="5" samples="360"></xacro:lidar_macro>
    <xacro:lidar_macro max_range="10" samples="360"></xacro:lidar_macro>
    <xacro:lidar_macro max_range="15" samples="360"></xacro:lidar_macro>




</robot>